.head_top{
    width: 100%;
    height: 120vh;
    background-color: rgb(3,70,213);
    background-image: url('../img/best-seo-services-slide-1.png');
    background-repeat: no-repeat;
    background-position: 90% 90%;
    >*{
        // border: 1px solid white;
        width: 100%; 
    }
    >header{
        height: 15%;
        >*{
            border: 1px solid red;
            height: 100%;
            padding: 0 24px;
        }
        >figure,
        >div{
            width: 25%;
        }
        >nav{
            width: 50%;
            >ul{
                width: 100%;
                height: 100%;
                // background-color: red;
                >li{
                    height: 100%;
                    // border: 1px solid white;
                    margin: 0 15px;
                    display: flex;
                    align-items: center;
                    >a{
                        // background-color:yellow;
                        font-size: 18px;
                        display: flex;
                        text-transform: uppercase;
                        color: white;
                        &:hover{
                            color: orange;
                        }
                        >strong{
                           border: 1px solid orange; 
                           border-radius: 5px;
                           font-size: 10px;
                           font-weight: normal;
                           padding: 4px 6px;
                           color: orange;
                           margin-left: 5px;
                           transform: translateY(-3px);
                        }
                    }
                }
            }
        }
        >figure{
            align-items: center;
            justify-content: start;
            >img{
                height: 55%;
            }
        }
        >div{
            justify-content: end;
            align-items: center;
            >a{
                width: 70%; 
                height: 40px;
                background-color:orange;
                color: white;
                border-radius: 50px;
                justify-content: center;
                align-items: center;
                display: flex;
                font-weight: bold; 
            }
        }
    }
    >div{
        height: 85%;
    }
}