.width80 {
  width: 80%;
}

main > div {
  width: 100%;
  background-color: rgb(3, 70, 213);
  background-image: url("../img/download.png");
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: 90% 80%;
  height: 120vh;
}

.fixed {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: white;
  border-radius: 5px;
  position: fixed;
  top: 30%;
  right: 10px;
  z-index: 999;
}

.head_top {
  width: 80%;
  height: 120vh;
  margin: auto;
}
.head_top > * {
  width: 100%;
}
.head_top > header {
  height: 15%;
}
.head_top > header > * {
  height: 100%;
  padding: 0 24px;
}
.head_top > header > figure,
.head_top > header > div {
  width: 25%;
}
.head_top > header > nav {
  width: 50%;
}
.head_top > header > nav > ul {
  width: 100%;
  height: 100%;
}
.head_top > header > nav > ul > li {
  height: 100%;
  margin: 0 15px;
  display: flex;
  align-items: center;
}
.head_top > header > nav > ul > li > a {
  font-size: 18px;
  display: flex;
  text-transform: capitalize;
  color: white;
}
.head_top > header > nav > ul > li > a:hover {
  color: orange;
}
.head_top > header > nav > ul > li > a > strong {
  border: 1px solid orange;
  border-radius: 5px;
  font-size: 10px;
  font-weight: normal;
  padding: 4px 6px;
  color: orange;
  margin-left: 5px;
  transform: translateY(-1px);
}
.head_top > header > figure {
  align-items: center;
  justify-content: start;
}
.head_top > header > figure > img {
  height: 55%;
}
.head_top > header > div {
  justify-content: end;
  align-items: center;
}
.head_top > header > div > a {
  width: 70%;
  height: 40px;
  background-color: orange;
  color: white;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
}
.head_top > div {
  height: 85%;
  justify-content: start;
  align-items: center;
}
.head_top > div > article {
  padding-left: 24px;
  max-width: 40vw;
  min-height: 50px;
}
.head_top > div > article > * {
  color: white;
  width: 100%;
}
.head_top > div > article > h1 {
  font-size: 50px;
  text-transform: capitalize;
}
.head_top > div > article > p {
  margin: 15px 0;
  font-size: 19px;
  line-height: 30px;
}
.head_top > div > article > div {
  padding: 30px 0;
}
.head_top > div > article > div > * {
  text-transform: uppercase;
}
.head_top > div > article > div > a:first-of-type {
  padding: 15px 60px;
  background: #ffa737;
  border-radius: 40px;
}
.head_top > div > article > div > a:first-of-type:hover {
  background-color: rgb(255, 178, 81);
}
.head_top > div > article > div > a:last-of-type {
  margin-left: 15px;
  padding: 15px 40px;
  background: #556eed;
  border-radius: 40px;
}
.head_top > div > article > div > a:last-of-type:hover {
  background-color: rgb(96, 122, 254);
}

.agency {
  width: 100%;
  justify-content: center;
  padding: 150px 0;
  background-color: #f7f8f9;
}
.agency > article {
  width: 50%;
}
.agency > article > * {
  text-align: center;
  margin: 25px 0;
}
.agency > article > p {
  color: #5d5f65;
  font-size: 18px;
}
.agency > article > h2 {
  color: #202020;
  font-size: 30px;
  text-transform: uppercase;
}

.items,
.services {
  background-color: #f7f8f9;
}
.items > .row,
.services > .row {
  width: 90%;
  margin: auto;
  justify-content: center;
  padding: 50px 0;
}
.items > .row article,
.services > .row article {
  padding: 20px;
  width: 350px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
  position: relative;
}
.items > .row article > *,
.services > .row article > * {
  margin: 15px 0;
  width: 100%;
}
.items > .row article > h2,
.services > .row article > h2 {
  text-align: center;
  font-size: 30px;
}
.items > .row article > p,
.services > .row article > p {
  line-height: 30px;
  text-align: justify;
  font-size: 18px;
  color: rgb(65, 65, 65);
  -moz-text-align-last: center;
       text-align-last: center;
}
.items > .row article > div,
.services > .row article > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.items > .row article > div > div,
.services > .row article > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.items > .row article > div > div:hover i:nth-of-type(1),
.services > .row article > div > div:hover i:nth-of-type(1) {
  left: 0;
  transition: 0.2s;
}
.items > .row article > div > div:hover i:nth-of-type(2),
.services > .row article > div > div:hover i:nth-of-type(2) {
  left: 100px;
  transition: 0.2s;
}
.items > .row article > div > div:hover > h2,
.services > .row article > div > div:hover > h2 {
  color: #ffa737;
  transition: 0.7s;
}
.items > .row article > div > div > h2,
.services > .row article > div > div > h2 {
  padding-top: 30px;
}
.items > .row article > div > div > a,
.services > .row article > div > div > a {
  position: absolute;
  bottom: 10px;
}
.items > .row article > div > div > div,
.services > .row article > div > div > div {
  width: 100px;
  height: 70px;
  position: relative;
  overflow: hidden;
}
.items > .row article > div > div > div > i,
.services > .row article > div > div > div > i {
  width: 100%;
  height: 100%;
  border: black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items > .row article > div > div > div > i > svg,
.services > .row article > div > div > div > i > svg {
  color: #ffa737;
  width: 48px;
}
.items > .row article > div > div > div > i:nth-of-type(1),
.services > .row article > div > div > div > i:nth-of-type(1) {
  left: -100px;
}
.items > .row article > div > div > div > i:nth-of-type(2),
.services > .row article > div > div > div > i:nth-of-type(2) {
  left: 0px;
}
.items > .row > figure,
.services > .row > figure {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items > .row > figure > img,
.services > .row > figure > img {
  width: 80%;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}
.items > .row:nth-of-type(2),
.services > .row:nth-of-type(2) {
  padding: 50px 0 0 0;
}

.services {
  background-color: #000c47;
  background-image: url(../img/pattern_background.webp);
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.services > .row {
  margin-bottom: 174px;
}
.services article {
  background-color: #001061 !important;
  color: white;
  width: 300px !important;
  margin: 14px !important;
}
.services article a {
  color: #ffa737;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px;
}
.services article p {
  height: 200px;
  margin-bottom: 75px !important;
}
.services > .services_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  margin: 80px 0;
}
.services > .services_header > * {
  width: 100%;
}
.services > .services_header > h2 {
  text-align: center;
  font-size: 35px;
  margin: 30px 0;
}
.services > .services_header > p {
  width: 40%;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}

.our_work {
  background-color: #f7f8f9;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.our_work > .our_work_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.our_work > .our_work_header > h2 {
  font-size: 40px;
}
.our_work > .our_work_header > p {
  color: #5f6166;
  width: 80%;
  text-align: center;
  line-height: 30px;
  margin-top: 30px;
  font-size: 20px;
}
.our_work > .piture_content {
  margin-top: 100px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 26px;
}
.our_work > .piture_content > div {
  width: 400px;
  height: 300px;
  position: relative;
}
.our_work > .piture_content > div:hover > div {
  visibility: visible;
  opacity: 1;
}
.our_work > .piture_content > div > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, #e8eaf0 0, #607afe 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
  cursor: pointer;
}
.our_work > .piture_content > div > div > div > svg {
  color: white;
}
.our_work > .piture_content > div > figure {
  width: 100%;
}
.our_work > .piture_content > div > figure > img {
  width: 400px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.our_work > .button {
  margin-top: 110px;
  margin-bottom: 140px;
  color: white;
}
.our_work > .button > a {
  padding: 13px 29px;
  background-color: #ffa737;
  border-radius: 25px;
  font-size: 14px;
}
.our_work > .button > a:hover {
  background-color: #ffb251;
}

.ourPlan {
  position: relative;
  background-image: url(../img/ghasem1.jpg);
  background-size: cover;
}
.ourPlan > .ourPlan_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-top: 130px;
}
.ourPlan > .ourPlan_header > h2 {
  color: white;
  font-size: 40px;
}
.ourPlan > .ourPlan_header > p {
  color: white;
  width: 30%;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  margin-top: 30px;
}
.ourPlan::before {
  content: "";
  background-image: linear-gradient(120deg, #3b46c4 0, #4750d9, #2581bd 100%);
  opacity: 0.8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.ourPlan > div.card_container {
  margin: 80px 0 130px 0;
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: center;
}
.ourPlan > div.card_container > div.card {
  position: relative;
  border: 10px solid #f7f7f7;
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.08);
}
.ourPlan > div.card_container > div.card div.row {
  width: 300px;
  background: white;
  position: relative;
  z-index: 999;
  border-right: 1px solid #e5e4e3;
}
.ourPlan > div.card_container > div.card div.row > * {
  width: 100%;
}
.ourPlan > div.card_container > div.card div.row > .plan_header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e5e4e3;
}
.ourPlan > div.card_container > div.card div.row > .plan_header > h2 {
  color: #607afe;
  font-size: 30px;
}
.ourPlan > div.card_container > div.card div.row > .panel_body > div {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-left: 1px;
}
.ourPlan > div.card_container > div.card div.row > .panel_body > div > span:nth-child(1) {
  color: #505050;
  font-size: 22px;
  font-weight: bold;
  transform: translateY(13px);
}
.ourPlan > div.card_container > div.card div.row > .panel_body > div > span:nth-child(2) {
  font-size: 60px;
  font-weight: bold;
  color: #607afe;
}
.ourPlan > div.card_container > div.card div.row > .panel_body > div > sup:nth-child(3) {
  font-size: 17px;
  font-weight: bold;
  color: #607afe;
}
.ourPlan > div.card_container > div.card div.row > .panel_body > div span:nth-child(4) {
  transform: translateY(41px);
  margin-left: -14px;
  font-style: italic;
  color: #888888;
}
.ourPlan > div.card_container > div.card div.row > .panel_list > ul {
  color: #5d5f65;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.ourPlan > div.card_container > div.card div.row > .panel_list > ul > li {
  width: 100%;
  padding: 30px;
  text-transform: capitalize;
}
.ourPlan > div.card_container > div.card div.row > .panel_footer {
  background-color: #f8f8f8;
  padding: 40px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-left: 1px;
  margin-bottom: 1px;
}
.ourPlan > div.card_container > div.card div.row > .panel_footer > a {
  text-transform: uppercase;
  color: #5d5f65;
  border: 2px solid white;
  padding: 13px 29px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: bold;
  transition: 0.2s;
}
.ourPlan > div.card_container > div.card div.row > .panel_footer > a:hover {
  color: #607afe;
  border-color: #607afe;
}
.ourPlan > div.card_container > div.card:nth-of-type(3) .panel_footer > a {
  background-color: #ffa737;
  color: white !important;
}
.ourPlan > div.card_container > div.card:nth-of-type(3) .panel_footer > a:hover {
  background-color: #ffb251;
  border-color: white !important;
}

.latestNews {
  background-color: #f7f8f9;
}
.latestNews > div {
  width: 100%;
}
.latestNews > div > .card_container {
  margin: 50px 0;
  gap: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.latestNews > div > .card_container > .card {
  width: 400px;
}
.latestNews > div > .card_container > .card > .card_header > figure > img {
  width: 400px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.latestNews > div > .card_container > .card > .card_body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.latestNews > div > .card_container > .card > .card_body > h2 {
  color: #ffa737;
  font-size: 23px;
  margin-top: 12px;
}
.latestNews > div > .card_container > .card > .card_body > p {
  text-align: center;
  line-height: 30px;
  text-transform: initial;
  color: #5d5f65;
  margin-bottom: 12px;
}
.latestNews > div > .card_container > .card > .card_body > p:nth-of-type(1) {
  font-size: 14px;
}
.latestNews > div > .button_footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 120px;
}
.latestNews > div > .button_footer > a {
  padding: 13px 29px;
  background-color: #ffa737;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
.latestNews > div > .button_footer > a:hover {
  background-color: #ffb251;
}

.client_sey {
  background-color: #fff;
}
.client_sey > div.row {
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 110px 0;
}
.client_sey > div.row > h2 {
  font-size: 40px;
  text-transform: capitalize;
}
.client_sey > div.row > figure {
  margin: 60px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.client_sey > div.row > figure > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.client_sey > div.row > figure > figcaption {
  width: 80%;
  text-align: center;
  color: #2d2d2d;
  line-height: 25px;
  margin-top: 20px;
}
.client_sey > div.row > p {
  font-size: 15px;
  text-transform: uppercase;
  color: #393939;
}
.client_sey > div.row > p > span {
  font-weight: bold;
  text-transform: capitalize;
  color: #2e2e2e;
}
.client_sey > div.row > div {
  margin-top: 30px;
}

.comany_logo {
  padding: 60px 0;
  border-top: 1px solid #e8eaf0;
  background-color: #fefefe;
  align-items: center;
  justify-content: center;
}
.comany_logo > div.row {
  margin: 0 200px;
  justify-content: space-around;
  width: 100%;
}

.free {
  width: 100%;
  background-image: url(../img/case-study-gallery-3-1.jpg);
  background-size: cover;
  padding: 100px 0;
  justify-content: center;
  position: relative;
}
.free::before {
  content: "";
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.415);
  position: absolute;
  top: 0;
  left: 0;
}
.free > div {
  z-index: 1000;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.free > div > * {
  color: white;
  text-align: center;
  margin: 25px 0;
  width: 100%;
}
.free > div > a {
  display: flex;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: #ffa737;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.free > div > a:hover {
  background-color: #ffb251;
}
.free > div > h2 {
  color: #f8f8f8;
  font-size: 40px;
}
.free > div > p {
  width: 30%;
  line-height: 40px;
}

.footer_bottom {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}
.footer_bottom > div {
  width: 50%;
}
.footer_bottom > div > * {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.footer_bottom > div > figure > img {
  width: 170px;
}
.footer_bottom > div > ul {
  margin: 50px 0 40px 0;
}
.footer_bottom > div > ul > li {
  display: flex;
  margin: 0 20px;
  text-transform: capitalize;
  font-size: 15px;
}
.footer_bottom > div > ul > li > a {
  display: flex;
}
.footer_bottom > div > ul > li:nth-of-type(4) span {
  display: flex;
  color: #ffa737;
  border: 1px solid #ffa737;
  border-radius: 5px;
  transform: translateY(-3px);
  font-size: 12px;
  margin-left: 5px;
  padding: 3px 4px;
}
.footer_bottom > div > p {
  text-align: center;
}
.footer_bottom > div > p > span {
  color: #ffa737;
  margin: 0px 4px;
}
.footer_bottom > div > div.icon {
  display: flex;
}
.footer_bottom > div > div.icon > i {
  color: #5d5f65;
  margin: 20px;
}
.footer_bottom > div > div.icon > i svg {
  width: 18px;
  height: 18px;
}/*# sourceMappingURL=master.css.map */