.head_top{
    width: 100%;
    height: 120vh;
    background-color: rgb(3,70,213);
    background-image: url('../img/best-seo-services-slide-1.png');
    background-repeat: no-repeat;
    background-position: 90% 90%;
}